
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  {# webpack dev serv js files must include to make HMR work inside patternlab iframe #}
  <script type="text/javascript" src="/js/chunk-vendors.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
